# Sensitive data
.env

# Python virtual environments
.venv
venv/
env/
ENV/

# Large molecular files
*.pdb
*.pdbqt
*.sdf

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# OS artifacts
.DS_Store

# Logs
*.log

frontend/node_modules/
frontend/dist/

# Directories
bin/
pdbs/

# Maintain directory structures for generated outputs and inputs with READMEs
/ensemble_input/*
!/ensemble_input/README.md

/results/*
!/results/README.md

/result_summaries/*
!/result_summaries/README.md

# Pipeline Outputs & Archives
results.json
results.csv
/archive/
